<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lembaga Pelatihan Kerja</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="header-left">
            <p>Lembaga Pelatihan Kerja (LPK)</p>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('register') }}">Pendaftaran</a></li>
                <li><a href="{{ url_for('registrants') }}">Pendaftar</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer">
        &copy; Lembaga Pelatihan Kerja.
    </footer>
</body>
</html>
